# ML
pandas
numpy
scikit-learn
seaborn
matplotlib
# GenAI
python-dotenv
gradio
openai
openai-agents
langchain
langchain-openai
langchain_community
chromadb

# NLP
transformers
torch
datasets

fastapi
pypdf
beautifulsoup4